[project]
	description = Machine Learning and Video Analytics related projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/uchint (uchint)
[access "refs/for/refs/*"]
	read = group user/uchint (uchint)
	push = group user/uchint (uchint)
	label-Code-Review = -2..+2 group user/uchint (uchint)
	label-Verified = -1..+1 group user/uchint (uchint)
	rebase = group user/uchint (uchint)
	removeReviewer = group user/uchint (uchint)
	submit = group user/uchint (uchint)
[access "refs/heads/*"]
	read = group user/uchint (uchint)
	create = group user/uchint (uchint)
	push = +force group user/uchint (uchint)
	pushMerge = group user/uchint (uchint)
[access "refs/tags/*"]
	push = +force group user/uchint (uchint)
	pushTag = group user/uchint (uchint)
	pushSignedTag = group user/uchint (uchint)
